@page {
  size: A4;
  margin: 20mm;
}

.invoice-wrapper {
  background: transparent;
  //   padding: 20px;
}

.print-actions {
  text-align: right;
  margin-bottom: 10px;

  button {
    padding: 8px 14px;
    font-size: 14px;
    cursor: pointer;
  }
}

.invoice-page {
  background: #fff;
  padding: 30px;
  font-family: Arial, sans-serif;
  color: #000;
}

/* ---------- HEADER ---------- */
.header {
  background: black;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.header img {
  height: 60px;
}

.company {
  text-align: right;
}

/* ---------- DETAILS ---------- */
.info {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.info .block {
  width: 48%;
}

.info h4 {
  border-bottom: 1px solid #000;
}

/* ---------- TABLE ---------- */
table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  display: table-header-group;
}

tr {
  page-break-inside: avoid;
}

th,
td {
  border: 1px solid #000;
  padding: 6px;
  text-align: center;
  vertical-align: top;
}

.services,
.charges {
  vertical-align: middle;
  text-align: left;
}

.charges {
  text-align: center;
}
.charges2 {
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
}

/* ---------- FOOTER ---------- */
.footer {
  border: 2px solid #000;
  //   padding: 10px;
}

.footer .total {
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 700;
}

.amount-words {
  padding: 10px;
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 800;
  font-style: italic;
  text-align: right;
}

.signature {
  padding: 10px 30px;
  border-top: 1px solid #000;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  text-align: right;
}

/* ---------- PRINT ---------- */
@media print {
  .print-actions {
    display: none;
  }

  body {
    background: #fff;
  }
}
