.invoices-page {
  padding: 20px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #fff;
  margin-top: 30px;
}

/* HEADER */
.invoices-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    font-size: 24px;
    font-weight: 600;
  }
}

/* SEARCH */
.search-bar {
  display: flex;
  gap: 8px;

  width: 260px;
  padding: 14px 12px;
  border-radius: 4px;
  border: 1px solid #444;
  background: #111;
  color: #fff;
  outline: none;

  &::placeholder {
    color: #777;
  }

  button {
    padding: 8px 14px;
    background: #ff7a00;
    color: #000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;

    &:hover {
      background: #ff8c1a;
    }
  }
}

.wpsmall {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

/* TABLE */
.table-wrapper {
  flex: 1;
  overflow-y: auto;
  border-radius: 6px;
}

.invoice-table {
  width: 100%;
  border-collapse: collapse;
  background: #0f0f0f;
  border: 1px solid #222;

  thead {
    background: #000;
  }

  th,
  td {
    width: 21%;
    letter-spacing: 2px;
    padding: 10px;
    text-align: left;
    vertical-align: middle;
    border-bottom: 1px solid #222;
    font-size: 18px;
  }

  th {
    color: #aaa;
    font-weight: 800;
    letter-spacing: 1.5px;
  }

  tbody tr {
    cursor: pointer;
    transition: background 0.15s ease;

    &:hover {
      background: #1a1a1a;
    }
  }

  .amount {
    font-weight: 700;
    color: #ff7a00;
  }
}

/* STATES */
.status {
  text-align: center;
  margin-top: 40px;
  color: #888;
}

/* ---------- PAGINATION ---------- */
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 16px;
  padding: 12px 0;
  margin-top: 20px;
  border-top: 1px solid gray;
}

.pagination span {
  font-size: 18px;
  font-weight: 500;
  color: #444;
  margin-top: 20px;
}

/* BUTTONS */
.pagination button {
  margin-top: 20px;
  padding: 6px 14px;
  font-size: 18px;
  font-weight: 500;
  background: #2a2c30;
  color: #fff;
  border: none;
  border-radius: 4%;
  cursor: pointer;
  transition:
    background 0.2s ease,
    opacity 0.2s ease;
}

/* HOVER */
.pagination button:hover:not(:disabled) {
  background: #222;
}

/* DISABLED */
.pagination button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
  background: #000;
}
