.Header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  gap: 1vw;
  padding: 0.5vw 5vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #0f0f0fd7;
  height: max-content;
  transition: transform 0.3s ease-in-out;

  &.hide {
    transform: translateY(-100%);
  }

  .logo {
    width: 20%;
  }

  .navlinks {
    display: flex;
    width: 60%;
    justify-content: center;
    gap: 1.5vw;

    .link {
      width: 17%;
      color: #ff6a00;
      font-family: Inter;
      font-size: 0.933333vw;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: -0.96px;
      border-radius: 2vw;
      padding: 0.7vw 1vw;
      text-align: center;
      border: 0.1vw solid #fff;
    }
    .link {
      transition: transform 0.2s ease, background-color 0.2s ease;

      &:hover {
        transform: translateY(2px);
        background-color: #ff6a00;
        color: #fff;
      }

      &:active {
        transform: scale(0.97);
      }
    }
    .link.active {
      background-color: #ff6a00;
      color: #fff;
      border-color: #ff6a00;
    }
  }

  .royalLogo {
    width: 20%;
    display: flex;
    justify-content: end;
  }
}
