.Footer {
  position: relative;
  z-index: 1;
  width: 100%;
  height: max-content;
  background: #ff6a00;
  z-index: 999;

  .image {
    z-index: 2;
    position: absolute;
    width: 90%;
    aspect-ratio: 1;
    top: -110%;
    right: 5%;
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  .navlinks {
    position: relative;
    z-index: 3;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 27.5%;

    .link {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 1vw;
      justify-content: center;
      width: 25%;
      color: #000;
      font-size: 1.45833vw;
      padding: 2vw;
      border: 1px solid #000;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: -1.68px;

      &:hover {
        background-color: antiquewhite;
      }
    }
  }

  .bottom {
    width: 100%;
    padding: 2vw 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .tab {
      z-index: 3;
      width: 33%;
      align-items: center;
      justify-content: center;
      display: flex;
      gap: 0.5vw;
      color: #0f0f0f;
      font-size: 1.041666vw;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: -1.2px;

      a {
        cursor: pointer;
        color: #0f0f0f;
        font-size: 1.041666vw;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -1.2px;
      }
    }
  }
}

@media (max-width: 480px) {
  .Footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 30vh;
    margin-top: 25vh;

    .image {
      right: 0;
      width: 100%;
      top: -110%;
    }

    .navlinks {
      .link {
        padding: 4vw 1.5vw;
        font-size: 2.8vw;
        letter-spacing: normal;

        img {
          width: 2vw;
          aspect-ratio: 1;
        }
      }
    }

    .bottom {
      padding: 4vw;
      width: 100%;
      justify-content: space-between;

      .tab {
        letter-spacing: normal;
        font-size: 2.7vw;
        width: 45%;

        a {
          letter-spacing: normal;
          font-size: 2.7vw;
        }

        img {
          width: 20%;
          height: 50%;
          object-fit: contain;
        }
      }

      .tab:nth-child(2) {
        display: none;
      }
    }
  }
}
