.shutter {
  position: fixed;
  inset: 0;
  z-index: 4;
  background: black;
  pointer-events: none; // CRITICAL
  transition: transform 0.15s linear;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
