.HomeHero {
  height: 90vh;
  position: relative;
  display: flex;

  .bg-video {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .overlay {
    z-index: 1;
    position: absolute;
    padding: 8% 5%;
    width: 100%;
    mix-blend-mode: difference;

    .heading {
      color: #fff;
      font-size: 6.6666vw;
      font-style: normal;
      font-weight: 600;
      line-height: 92.02%; /* 117.785px */
      letter-spacing: -7.68px;
    }

    .subHeading {
      padding-top: 1.56vw;
      color: #fff;
      font-size: 3.33333vw;
      font-style: normal;
      font-weight: 600;
      line-height: 116.224%; /* 74.383px */
      letter-spacing: -3.84px;
    }

    .desc {
      padding-top: 4.54vw;
      color: #fff;
      font-size: 1.25vw;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: -1.44px;
    }

    .bottom {
      padding-top: 1.1vw;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .contactUs {
        cursor: pointer;
        width: max-content;
        padding: 0.7vw 1.4vw;
        border-radius: 9px;
        background: #fff;
        display: flex;
        gap: 0.4vw;
        color: #000;
        font-size: 1.6vw;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -1.92px;

        &:hover {
          background-color: #ff6a00;
        }
      }

      .info {
        color: #ff6a00;
        font-size: 1.041666vw;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -1.2px;
      }
    }
  }
}

@media (max-width: 480px) {
  .HomeHero {
    height: max-content;

    .bg-video {
      height: 225px;
    }

    .overlay{
      .heading{
        padding-top: 1%;
        letter-spacing: normal;
      }

      .subHeading{
        padding-top: 2%;
        letter-spacing: normal;
        font-size: 4.8vw;
      }

      .desc{
        padding-top: 7%;
        letter-spacing: normal;
        font-size: 3.8vw;
      }

      .bottom{
        padding-top: 5%;
        .contactUs{
          align-items: center;
          justify-content: center;
          border-radius: 1.5vw;
          gap: 2vw;
          letter-spacing: normal;
          font-size: 4vw;   
          .arrow{
            width: 4vw;
            aspect-ratio: 1;
            
            img{
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
        .info{
          font-size: 2vw;
          letter-spacing: normal;
        }
      }
    }
    
  }
}
