/* RESET & GLOBAL STYLES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body #root {
  height: 100%;
  width: 100%;
  font-family: 'Outfit', sans-serif;
  background: #0f0f0f;

  .app-content {
    padding-top: 1vw;
    min-height: 100vh;
    background-color: #0f0f0f;
  }
  @media (max-width: 480px) {
    html,
    body #root {
      padding-top: 12vw;
    }
  }
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.print-mode {
  background: #ffffff !important;
  min-height: auto !important;
  padding: 0 !important;
}

/* Kill dark overlays, gradients, shadows */
.print-mode * {
  background: transparent;
  box-shadow: none !important;
}

::-webkit-scrollbar{
  display: none;
}