.dashboard {
  position: fixed;
  inset: 0;
  display: flex;
  background: #0b0b0b;
  color: #fff;
  opacity: 0;
  transform: translateY(1px);
  transition: all .5s ease;
}

.dashboard.show {
  opacity: 1;
  transform: translateY(0);
}

.dashboard-content {
  position: relative;
  z-index: 10;
  flex: 1;
  padding: 40px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  h1 {
    margin-bottom: 1vw;
    font-size: 2vw;
    letter-spacing: 1px;
  }
}

.dashboard,
.dashboard * {
  pointer-events: auto;
}
